
.hero-section {
    background-color: #D7F5DC;
    padding-bottom: 50px;
   
   
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #D7F5DC;
    width: 100%;
    position: sticky;
    top: 0px;
    
   
   

}

.design {
    display: flex;
    justify-content: start;
    padding-left: 40px;
    
    
}

span {
    color: orangered;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-evenly;

}

.about-section {

    display: flex;
    gap: 50px;
    align-items: center;
     
}

.login {
    border: 2px solid #20B15A;
    background-color: #D7F5DC;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: red;

}

.btn {
    border: 2px solid #20B15A;
    color: white;
    background-color: #20B15A;
    border-radius: 8px;
    padding: 10px 20px;
    margin-right: 80px;

}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.left-div {
    padding-left: 40px;
}

.right-div {
    margin-right: 40px;
}

.head1 {
    padding-top: 20px;
    font-size: 40px;
    margin-bottom: 0px;

}

.p1 {
    margin: 0px;
    margin-bottom: 20px;
}


.btn2 {
    border: 2px solid #20B15A;
    color: white;
    background-color: #20B15A;
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 30px;

}

.img {
    width: 400px;
    height: 320px;

}



.nav2 {
    display: flex;
    height: 50px;
    justify-content: space-around;
    background-color: white;
}

.google,
.trel,
.monday,
.notion,
.slack {
    height: 20px;
    width: 60px;
    padding-top: 15px;

}

.icon {
    display: none;
}

.h1,
.h2,
.h3 {
    padding-left: 80px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.color,
.color2,
.color3,
.color4 {
    color: #20B15A;

}

.card {
    display: flex;
    justify-content: space-evenly;
}


.card2 {
    display: flex;
    justify-content: center;
}

.digital-sec {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 20px;
}


.digital,
.agency,
.market,
.web {
    width: 100%;
}


.test {
    display: flex;
    justify-content: space-around;
}

.card3 {

    display: flex;
    justify-content: space-around;

}
.image-4 {
    width: 100%;
}



.input-button {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 55px;
}

.input-field {
    position: absolute;
    width: 500px;
    height: 45px;
    border-radius: 10px;
}

.btn3 {
    position: absolute;
    top: 5px;
    left: 745px;
    border-radius: 8px;
    height: 40px;
    width:120px;
    color: white;
    background-color: orangered;
    border: none;
}


.footer-main {
    display: flex;
    justify-content: space-around;
    background-color: #00CA72;


}
.footer-col{
    color: #D7F5DC;
    display: flex;
    gap: 10px;
    
}



@media(width<576px) {

    .hero-section {
        width: 100%;
    }

    .digital,
    .agency,
    .market,
    .web {
        width: 100%;
    }

    .icon {
        display: block;
    }

    .design {

        padding-left: 10px;
        
    }

    .navbar {

        align-items: center;
        justify-content: space-around;
         

    }

    .about-section {
        display: none;
        

    }

    .login,
    .btn {
        display: none;
    }

    .main {
        flex-direction: column;


    }

    .right-div,
    .left-div {
        padding-left: 20px;

    }

    .content-sec {
        align-items: center;
        padding: 0px;
    }

    .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .card2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .left-div2,
    .right-div2 {

        width: 100%;

    }

    .digital-sec {
        width: 95%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        padding: 10px;
    }

    .h1,
    .h2 {
        padding-left: 0px;
        text-align: center;
    }

    .card3 {
        flex-direction: column;
        width: 100%;
        
    }

    .test {

        flex-direction: column;
        align-items: center;

    }

    .footer-main {
        flex-direction: column;
        text-align: center;
    }

    .input-button {
    margin-bottom: 55px;
}

.input-field {
    width: 95%;
}

.btn3 {
    position: absolute;
    top: 5px;
    left: 250px;
    border-radius: 8px;
    height: 40px;
    width:130px;
    color: white;
    background-color: orangered;
    border: none;
}
.footer-col{
    padding-left: 150px;
}

}
